<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>It's the Intelligence Home system</title>
        <link href="../../static/css/data.css" type="text/css" rel="stylesheet"/>
        <link href="../../static/css/grid_button.css" type="text/css" rel="stylesheet"/>
        <link href="../../static/css/usermanagement.css" type="text/css" rel="stylesheet"/>
{#        <script src="../../static/js/usermanagement.js"></script>#}
        <script type="text/javascript">
            window.onload=function(){
                {#let names = {{ names|tojson }}  ;#}
                const oUsers = document.getElementById("users");
                const oButton_edit = document.getElementById("edit");
                const oButton_add = document.getElementById("add_new");
                const oButton_delete = document.getElementById("delete");
                const oEdit = document.getElementById("edit_part");
                const oDelete_form = document.getElementById("delete_form");
                const oUser_deleted = document.getElementById("user_name_deleted") ;
                const oUser_added = document.getElementById("user_name_added") ;
                const oUser_phone_added = document.getElementById("user_phone_added") ;
                const oUser_password_added = document.getElementById("user_password_added") ;
                const oAdd_form = document.getElementById("add_form");
                const oButton_confirm_delete = document.getElementById("confirm_delete");
                const oButton_confirm_add = document.getElementById("confirm_add");
                function append_users(){
                    let user_name = [];
                    let arr = document.cookie.split('; ');
                    for(var i = 0; i<arr.length; i++) {
                        let arr2 = arr[i].split('=');
                        user_name[i]=arr2[0];
                    }
                    for(var j =0; j<name.length; j++){
                        let new_li = document.createElement("li");
                        new_li.innerText = name[j];
                        oUsers.appendChild(new_li);
                    }
                }


                function edit_user(){
                    oEdit.style.display="block";
                    oButton_edit.style.display="none";
                }
                function block_delete_form(){
                    oEdit.style.display = "none";
                    oDelete_form.style.display = "block";
                }
                function block_add_form(){
                    oEdit.style.display = "none";
                    oAdd_form.style.display = "block";
                }
                oButton_confirm_delete.onclick = function confirm_delete(){
                    let certain_name = oUser_deleted.value;
                    {#alert("/delete_user/"+certain_name)  ;#}
                    window.location.href = "/delete_user/"+certain_name ;
                } ;

                oButton_confirm_add.onclick = function confirm_add(){
                    const certain_name = oUser_added.value;
                    const phone_num = oUser_phone_added.value;
                    const password = oUser_password_added.value;
                    window.location.href = "/add_user/"+certain_name+"/"+password+"/"+phone_num ;
                } ;
                oButton_edit.addEventListener('click', edit_user);
                oButton_delete.addEventListener('click',block_delete_form);
                oButton_add.addEventListener("click",block_add_form);

                oButton_confirm_delete.addEventListener("click",confirm_delete);
            };
	    </script>
    </head>
<!--<div id="navigation">-->
<!---->
<!--</div>-->
    <body>


        <div id="header" class="抬头">
            <h1 id="top" > <strong>Welcome to the Intelligence Home system</strong> </h1>
        </div><!--end of the header-->

        <div id = "main">
            <ul id="nav">
                <li><a class="link" href="/index">首页</a></li>
                <li><a class="link" href="/data">数据显示</a></li>
                <li><a class="link" href="/graph">图形显示</a></li>
                <li><a class="link" href="/prediction">数据预测</a></li>
                <li><a class="link" href="/usermanagement">用户管理</a></li>
                <li><a class="link" href="/contact_us">联系我们</a></li>
            </ul>
            <div id="相关链接">
                <p>
                <p style="color: #cbcc8d ;font-size:15px" >Relative links:</p>
                <br/>
                <a class="link" href="http://www.zju.edu.cn"> <span  style="font-weight: bold;">Visit</span> Zhejiang university</a>
                <br/>
                <a class="link" href="http://www.baidu.com"> <span  style="font-weight: bold;">Visit</span> baidu</a>
                <br/>
                <a class="link" href="http://www.google.com"> <span  style="font-weight: bold;">Visit</span> google</a>
                <br/>
                <a class="link" href="http://www.sina.com"> <span  style="font-weight: bold;">Visit</span> sina</a>
            </div>
            <div id="everthing_except_links">
                <!---->
                <!---->
                <!---->
                <div>
                    <p style="font-size: 18px;padding: 10px;">已经存在的用户：</p>
                    <br/>
                    <ul id="users">
                        {%for name in names %}
                            <li>{{ name[0]}}</li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="outer_container">
                    <button id= "edit" class="btn btn--radius btn--stripe">编辑用户</button>
                </div>
                <div class="outer_container" id="edit_part">
                    <button id= "add_new" class="btn btn--radius btn--stripe">添加用户</button>
                    <button id= "delete" class="btn btn--radius btn--stripe">删除用户</button>
                </div>
                <fieldset id="delete_form" class="hiddenform">
                        <legend>Please Enter The User Name You Want To Delete</legend>
                        <p>User Name:</p>
                        <br/>
                        <input type="text" name="username_delete" title="Please Input" id="user_name_deleted"/>
                        <br/>
                        <button id= "confirm_delete" class="btn btn--radius btn--stripe">确认删除</button>
                    <!---->
                    <!---->
                </fieldset>

                <fieldset id="add_form" class="hiddenform">
                    <legend>Please Enter The User Name You Want To Add</legend>
                    <p>User Name:</p>
                    <br/>
                    <input type="text" name="username_delete" title="Please Input" id="user_name_added"/>
                    <br/>
                    <p>User Phone number:</p>
                    <br/>
                    <input type="text" name="user_phone_added" title="Please Input" id="user_phone_added"/>
                    <br/>
                    <p>User Password:</p>
                    <br/>
                    <input type="text" name="user_password_added" title="Please Input" id="user_password_added"/>
                    <br/>
                    <button id= "confirm_add" class="btn btn--radius btn--stripe">确认添加</button>
                    <!---->
                    <!---->
                </fieldset>
            </div>

        </div>
    </body>

</html>