body {
    font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    line-height: 1;
}
body {
    background: url("../image/bg.jpg") 0 0 repeat;
}

button{
    width: 200px;
    height: 200px;
    background:#aaa;
    color:#555;
    font-weight:bold;
    font-size:20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding:10px 15px;
    /*border:none;*/
    border: solid white 2px;
    margin:0 50px;
    cursor:pointer;
    -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
    -o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
    -o-transition-duration:1s,1s,1s,1s,1s,1s,1s;
    -moz-transition-property:width, height, -moz-transform, background, font-size, opacity, color;
    -moz-transition-duration:1s,1s,1s,1s,1s,1s,1s;
    transition-property:width,height,transform,background,font-size,opacity;
    transition-duration:1s,1s,1s,1s,1s,1s;
    -webkit-border-radius:5px;
    border-radius:5px;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    text-shadow:0 0 5px rgba(255,255,255,0.5);
    display:inline-block; /它是重要为按钮旋转/
}
button:hover
{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);

    background:#99A411;
    font-size:30px;
    color:#fff;
}
.LoginWindow{
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
#copyright{
    width: 50%;
    font-size: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 25%;
    right: 25%;
}