.btn--radius{
    display: inline-block;
    width: 15%;
    height: 60px;
    text-align: center;
    margin: 10px auto;
}
.users{
    font-family:"Comic Sans MS", "Monotype Corsiva", "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,cursive;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: rgba(201, 37, 37, 0.2);
}
#users>li{

    width: 30%;
    height: 50px;
    background: rgba(201, 37, 37, 0.2);
    text-align: center;
    padding: 10px;
    margin:10px auto;
    border:whitesmoke groove 2px;
    font-family:"Comic Sans MS", "Monotype Corsiva", "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,cursive;
    font-size: 18px;
}


ul#nav li a:hover{
    background:#0095BB
}/*设置鼠标滑过或悬停时变化的背景颜色*/
#edit_part{
    display: none;
}
.hiddenform{
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border: whitesmoke groove 2px;
    border-radius: 10px;
    display: none;
    /*display: none;*/
}