*{
    margin: 0;
    padding: 0;
    list-style: none;

}
div{
    /*opacity: 0.7;*/
}
html{
    width: 100%;
    height: 100%;
}
body {
    font-family:"Comic Sans MS", "Monotype Corsiva", "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,cursive;
    font-size: 9px;
    background:  url("../image/bg.jpg") 0 0 repeat;
    color: white;
    width: 100%;
    height: 100%;
}
#top{
    font-size: 30px;
    width: 100%;
    height:50px;
}
#main{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    }
#header{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
/*table.navigation{*/
    /*width: 75%;*/
    /*margin: 0 auto;*/
    /*table-layout: fixed;*/

/*}*/
/*th.navigation_tag{*/
    /*background-color: #90b4d6;*/
    /*width: 15%;*/
    /*height: 50px;*/
    /*font-family: "Times New Roman",cursive;*/
    /*border:1px solid black;*/
    /*border-radius: 10px;*/
/*}*/
ul#nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 165, 201, 0.2);

    margin: 0 auto;
    text-align: center;
}
ul#nav li{
    display:inline;
    height:50px;
}
ul#nav li a{
    display:inline-block;
    padding:0 20px;
    height:50px;
    line-height:50px;
    color:#FFF;
    font-family:"\5FAE\8F6F\96C5\9ED1";
    font-size:16px;
    /*border: 2px white solid;*/
    /*border-collapse: collapse;*/
}
ul#nav li a:hover{
    background:#0095BB
}/*设置鼠标滑过或悬停时变化的背景颜色*/
#相关链接{
    width: 100px;
    height: 500px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    background: url("../image/星空.jpg") 0 0 no-repeat;
    background-size: cover;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    float: right;
    color: whitesmoke;

}

#button_add{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid coral;
    font-family: "Comic Sans MS",cursive;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}
.outer_container{
    width: 100%;
    text-align: center;
    padding: 10px;
}
#add, #cancel{
    cursor: pointer;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 10px;
}
#添加 {
    width: 75%;
    display: none;
    padding: 20px;
    border-radius: 10px;
    border: 1px groove whitesmoke;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    background: rgba(0, 165, 201, 0.2);

}
legend{
    /*background-color: lemonchiffon;*/
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: left;
}
#联系方式{
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
#everthing_except_links{
    margin: 0 auto;
    background: rgba(0, 165, 201, 0.2);
}
#form{
    padding: 20px;
    background:rgba(0, 165, 201, 0.2);
    width: 75%;
    margin: 10px auto;
    table-layout: fixed;
    overflow-scrolling: auto;
}

.link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}
#相关链接>a[class="link"]{
    display: block;
    margin: 10px 0;
}
#copyright{
    padding: 20px;
    text-align: center;
}
table{
    border-spacing: 0;
}
.form_tag{
    width: 15%;
    height: 50px;
    padding: 5px 30px 5px 10px;
    /*margin: 10px;*/
    border: 1px solid black;
    background-color: #90b4d6;
    text-transform: uppercase;
    font-size: 15px;
}
.form_value{
    width: 15%;
    height: 50px;
    padding: 5px 30px 5px 10px;
    /*margin: 10px;*/
    background-color: rgba(23,204,178,0.2);
    border: 1px solid black;
    font-size: 15px;
}
td.form_value:hover{
    background: #9b5cff;
}
tr.head{
    color: #ffffff;
    background-color: #90b4d6;
    text-align: left;
    text-shadow: -1px -1px -1px #666666;
    font-size: 30px;
    /*letter-spacing: 0.15em;*/
}
tr.form_content{
    text-align: left;
    text-shadow: -1px -1px -1px #666666;
    letter-spacing: 0.15em;
}

