<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's the Intelligence Home system</title>
    <link href="../../static/css/data.css" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/pie.css" type="text/css" rel="stylesheet"/>
    <!--<link href="../css/grid_button.css" type="text/css" rel="stylesheet"/>-->
    <script src="../../static/js/pie.js"></script>
</head>
<!--<div id="navigation">-->
<!---->
<!--</div>-->
<body>
<div id="header" class="抬头">
    <h1 id="top" > <strong>Welcome to the Intelligence Home system</strong> </h1>
</div><!--end of the header-->

<div id = "main">
    <ul id="nav">
        <li><a class="link" href="/index">首页</a></li>
        <li><a class="link" href="/data">数据显示</a></li>
        <li><a class="link" href="/graph">图形显示</a></li>
        <li><a class="link" href="/prediction">数据预测</a></li>
        <li><a class="link" href="/usermanagement">用户管理</a></li>
        <li><a class="link" href="/contact_us">联系我们</a></li>
    </ul>
    <div id="相关链接">
        <p>
        <p style="color: #cbcc8d ;font-size:15px" >Relative links:</p>
        <br/>
        <a class="link" href="http://www.zju.edu.cn"> <span  style="font-weight: bold;">Visit</span> Zhejiang university</a>
        <br/>
        <a class="link" href="http://www.baidu.com"> <span  style="font-weight: bold;">Visit</span> baidu</a>
        <br/>
        <a class="link" href="http://www.google.com"> <span  style="font-weight: bold;">Visit</span> google</a>
        <br/>
        <a class="link" href="http://www.sina.com"> <span  style="font-weight: bold;">Visit</span> sina</a>
        </p>
    </div>
    <div id="everthing_except_links">
        <!---->
        <!---->
        <!---->
        <div class="pies-container">
            <div class="info-pie">

                <svg viewBox = "0 0 400 400" version="1.1" ></svg>
                <div class="info-pie__slide" data-slide-part="5" data-slide-color="#53DF00">
                    <h3 class="info-pie__label">Title #1</h3>
                    <div class="info-pie__content">
                        <ul>
                            <li>Some info</li>
                            <li>Some info</li>
                            <li>Some info</li>
                        </ul>
                    </div>
                </div>
                <div class="info-pie__slide " data-slide-part="15" data-slide-color="#00AA72">
                    <h3 class="info-pie__label">Title #2</h3>
                    <div class="info-pie__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-pie__slide" data-slide-part="20"  data-slide-color="#FF5600">
                    <h3 class="info-pie__label">Title #3</h3>
                    <div class="info-pie__content">
                        <p>Lorem, ipsum dolor sit amet </p>
                    </div>
                </div>

                <div class="info-pie__slide" data-slide-part="30"  data-slide-color="#EA0037">
                    <h3 class="info-pie__label">Title #4</h3>
                    <div class="info-pie__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-pie__slide" data-slide-part="30"  data-slide-color="#F53D68">
                    <h3 class="info-pie__label">Title #5</h3>
                    <div class="info-pie__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
            </div>

            <div class="info-piesecond">
                <h1></h1>
                <svg viewBox = "0 0 400 400" version="1.1" ></svg>
                <div class="info-piesecond__slide" data-slide-part="25" data-slide-color="#04819E">
                    <h3 class="info-piesecond__label">Title #1</h3>
                    <div class="info-piesecond__content">
                        <ul>
                            <li>Some info</li>
                            <li>Some info</li>
                            <li>Some info</li>
                            <li>Some info</li>
                            <li>Some info</li>
                        </ul>
                    </div>
                </div>
                <div class="info-piesecond__slide" data-slide-part="17" data-slide-color="#206676">
                    <h3 class="info-piesecond__label">Title #2</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-piesecond__slide" data-slide-part="18" data-slide-color="#3F6676">
                    <h3 class="info-piesecond__label">Title #3</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-piesecond__slide" data-slide-part="20"  data-slide-color="#38B2CE">
                    <h3 class="info-piesecond__label">Title #4</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet </p>
                    </div>
                </div>

                <div class="info-piesecond__slide" data-slide-part="5"  data-slide-color="#60B9CE">
                    <h3 class="info-piesecond__label">Title #5</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-piesecond__slide" data-slide-part="5"  data-slide-color="#5EC4CD">
                    <h3 class="info-piesecond__label">Title #6</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
                <div class="info-piesecond__slide" data-slide-part="10"  data-slide-color="#5EaECD">
                    <h3 class="info-piesecond__label">Title #7</h3>
                    <div class="info-piesecond__content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit repudiandae autem, ipsam quaerat est ea nesciunt eum commodi tempore iure, omnis mollitia ipsum, provident molestiae ullam cumque aliquid eaque. Nemo!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>