
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's the Intelligence Home system</title>
    <link href="../../static/css/data.css" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/grid_button.css" type="text/css" rel="stylesheet"/>
    <script src="../../static/js/data.js"></script>
</head>
<!--<div id="navigation">-->
<!---->
<!--</div>-->
<div id="header" class="抬头">
    <h1 id="top" > <strong>Welcome to the Intelligence Home system</strong> </h1>
</div><!--end of the header-->

<div id = "main">
    <ul id="nav">
        <li><a class="link" href="/index">首页</a></li>
        <li><a class="link" href="/data">数据显示</a></li>
        <li><a class="link" href="/graph">图形显示</a></li>
        <li><a class="link" href="/prediction">数据预测</a></li>
        <li><a class="link" href="/usermanagement">用户管理</a></li>
        <li><a class="link" href="/contact_us">联系我们</a></li>
    </ul>
    <div id="相关链接">
        <p>
        <p style="color: #cbcc8d ;font-size:15px" >Relative links:</p>
        <br/>
        <a class="link" href="http://www.zju.edu.cn"> <span  style="font-weight: bold;">Visit</span> Zhejiang university</a>
        <br/>
        <a class="link" href="http://www.baidu.com"> <span  style="font-weight: bold;">Visit</span> baidu</a>
        <br/>
        <a class="link" href="http://www.google.com"> <span  style="font-weight: bold;">Visit</span> google</a>
        <br/>
        <a class="link" href="http://www.sina.com"> <span  style="font-weight: bold;">Visit</span> sina</a>
        </p>
    </div>
    <div id="everthing_except_links">

        <table id="form" >
            <thead>
            <tr class="head">
                <th scope="col" class="form_tag"></th>
                <th scope="col" class="form_tag">Type of the electronic device</th>
                <th scope="col" class="form_tag">Power Consumption in the last hour</th>
                <th scope="col" class="form_tag">Power Consumption today</th>
                <th scope="col" class="form_tag">Power Consumption in the last week</th>
                <th scope="col" class="form_tag">The Total Power Consumption </th>
            </tr>
            </thead>
            <tbody>
            <tr class="form_content">
                <th scope="row" class="form_tag">冰箱</th>
                <td class="form_value">常开型</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr>
            <tr class = "form_content">
                <th scope="row" class="form_tag">空调</th>
                <td class="form_value">常开型</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr>
            <tr class = "form_content">
                <th scope="row" class="form_tag">电视</th>
                <td class="form_value">常开型</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr >
            <tr class="form_content">
                <th scope="row" class="form_tag">加湿器</th>
                <td class="form_value">常关型</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr>
            <tr class="form_content">
                <th scope="row" class="form_tag">电脑</th>
                <td class="form_value">用户自定义</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr>
            <tr class="form_content">
                <th scope="row" class="form_tag">台灯</th>
                <td class="form_value">常开型</td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
                <td class="form_value"></td>
            </tr>
            </tbody>
        </table>
        <button id="button_add" class="btn btn--stripe btn--radius" >
            add a new furniture
        </button>
        <fieldset id="添加"  >
            <legend>Necessary information</legend>
            <p >Please enter the furniture name in the following box</p>
            <br/>
            <div>
                <label>The name</label>
                <input type="text" name="furniture_name" title="please input"
                       value="For example: kettle"/>
            </div>
            <br/>
            <div>
                <label>
                    The Type of the furniture
                    <select name="type" id="type">
                        <option value="常开型">常开型</option>
                        <option value="常关型">常关型</option>
                        <option value="用户自定义">用户自定义</option>
                    </select>
                </label>
            </div>
            <br/>
            <div class="outer_container">
                <input type="submit"  value="add"  id="add" class="btn btn--stripe"/>
                <input type="button" value="cancel" id="cancel" class="btn btn--stripe"/>
            </div>
        </fieldset>
        <div id="联系方式">
            <p id="bottom">
                Please feel free to contact with me <a  class="link" href = "mailto:1277358582@qq.com"> Email me</a>
                <br/>
                If you want to log out, please click <a class="link" href ="log_in.html">here</a>
            </p>
        </div>
        <!-- more useful links -->
        <div id="copyright">
            <p>&copy;The copy right is reserved to Inteligence Home Group</p>
        </div>
    </div>

</div>
</body>
</html>